<!DOCTYPE html>
<html lang="en">

<head>
    <base href="http://localhost:3000">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HocVien</title>
    <style>
        #HocVienList {
            text-align: center;
        }
        
        .charactor img {
            width: 30%;
            height: 20%;
            border-radius: 50%;
        }
        
        .charactor a {
            display: block;
            width: 40%;
            float: left;
            background-color: black;
            color: yellow;
            margin-bottom: 30px;
        }
        
        .charactor a:hover {
            background-color: blue;
        }
    </style>
</head>

<body>
    <div id="HocVienList">
        <% danhsach.forEach(function(dangkytaikhoan){ %>
            <div class="charactor">
                <img src="./public/upload/<%- dangkytaikhoan.Images %>" alt="" />
                <div class="dkName">
                    <%- dangkytaikhoan.name %>
                </div>
                <div class="dkemail">
                    <%- dangkytaikhoan.email %>
                </div>
                <div class="dkphone">
                    <%- dangkytaikhoan.phone %>
                </div>
                <div class="dkgender">
                    <%- dangkytaikhoan.gender %>
                </div>
                <div class="dkbirthday">
                    <%- dangkytaikhoan.birthday.day %>/
                        <%- dangkytaikhoan.birthday.month %>/
                            <%- dangkytaikhoan.birthday.year %>.
                </div>
                <div class="dkjapanese_level">
                    <%- dangkytaikhoan.japanese_level %>
                </div>
                <div class="dkcountry">
                    <%- dangkytaikhoan.country %>
                </div>
                <div class="button">
                    <a onclick="return confirm('Are you sure you want to delete <%- dangkytaikhoan.name %>?')" href="./delete/<%- dangkytaikhoan._id %>">Delete</a>
                </div>
            </div>
            <% }); %>
    </div>
</body>

</html>