<!DOCTYPE html>
<html lang="en">

<head>
    <base href="http://localhost:3000">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ikagai</title>
    <%- include('../partials/head'); %>

</head>



<body>
   
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        
        <div class="home site-main active" id="tab1">

            <div class="home-screen__feedback" align="center">


                <div class="home-screen__feedback--na">
                    <video controls class="video_intro">
                        <source src="../public/video/filejav.mp4" type="video/mp4" >
                        Your browser does not support the video tag.
                    </video>
                    <div class="backgroundumg">
                        <img src="../public/images/logo/camnang.png" alt="" class="logo-slide">
                    </div>
                    <p class="context">
                        Chỉ cần một nền tảng duy nhất để trở nên kiệt xuất
                    </p>
                    <div class="iconfb-yt">
                        <a href="" target="_blank">
                            <img src="../public/images/logo/logo_fb.webp" alt="img">
                        </a>
                        <a href="" target="_blank">
                            <img src="../public/images/logo/logo_yt.webp" alt="img">
                        </a>
                        <a href="" target="_blank">
                            <img src="../public/images/logo/logo_ins.webp" alt="img">
                        </a>
                    </div>
                </div>

            </div>

            <%- include('../partials/fan'); %>

                <div class="home-screen__main">
                    <div class="home-screen__main--background">
                        <img src="../public/images/logo/hoa.png" />
                    </div>

                    <div class="home-screen__main--content">

                        <div class="home-screen__main--title">
                            <span style="color: #a336a3">Chào các bạn! Tôi là LUẬT</span>
                            <span style="font-weight: 700">皆さん、こんにちは。LUAT です。</span>
                        </div>
                        <div class="home-screen__main--story">
                            <div class="home-screen__main--story-content">
                                <p>Đây là câu chuyện về :</p>
                                <p class="p2">
                                    <a href="https://www.google.com/search?q=c1&oq=c1&aqs=chrome..69i57j46i131i433j0i131i433l3j69i60l3.963j0j4&sourceid=chrome&ie=UTF-8#sie=lg;/g/11fks91v3s;2;/m/0c1q0;mt;fp;1;" target="_blank">
                                        <b>“Tiếng Nhật đã thay đổi tôi như thế nào”</b>
                                    </a>
                                </p>
                                <p>
                                    Chỉ cần bạn sẵn sàng, chúng tôi sẽ cùng bạn viết lên một chương hoàn toàn mới của cuộc đời – một hành trình chinh phục tiếng Nhật bằng tất cả đam mê và sự cuốn hút.
                                </p>



                                <a href="https://www.google.com/search?q=c1&oq=c1&aqs=chrome..69i57j46i131i433j0i131i433l3j69i60l3.963j0j4&sourceid=chrome&ie=UTF-8#sie=lg;/g/11fks91v3s;2;/m/0c1q0;mt;fp;1;" style="text-decoration: none; color: #a33636; line-height: 2.5vw" target="_blank">
                                    <span class="home-screen__btn home-screen__btn--light home-screen__btn--light-green">Xem thêm  →</span>
                                </a>
                            </div>
                            <div class="home-screen__main--story-image">
                                <img src="../public/images/home/host.png" />
                            </div>
                        </div>

                    </div>




                </div>




                <div class="Khoa-hoc">



                    <div id="home-screen-main-preview" class="home-screen__main--preview">
                        <div class="home-screen__main--preview-menu">
                            <ul>
                                <li @click="choosePreview(5, [{&quot;id&quot;:2,&quot;name&quot;:&quot;Ng\u1eef ph\u00e1p&quot;,&quot;avatar_name&quot;:&quot;nguphapN5.png&quot;,&quot;SEOurl&quot;:&quot;N5&quot;,&quot;author_id&quot;:1},{&quot;id&quot;:703,&quot;name&quot;:&quot;H\u1ed9i tho\u1ea1i&quot;,&quot;avatar_name&quot;:&quot;hoithoaiN5.png&quot;,&quot;SEOurl&quot;:&quot;N5&quot;,&quot;author_id&quot;:11},{&quot;id&quot;:2427,&quot;name&quot;:&quot;Ch\u1eef h\u00e1n&quot;,&quot;avatar_name&quot;:&quot;hantuN5.png&quot;,&quot;SEOurl&quot;:&quot;N5&quot;,&quot;author_id&quot;:2}])"
                                    v-bind:style="{background: chosenPreview == 5 ? '#FFF' : 'transparent', color: chosenPreview == 5 ? '#41A336' : '#FFF'}">Khoá N5</li>
                                <li @click="choosePreview(4, [{&quot;id&quot;:129,&quot;name&quot;:&quot;Ng\u1eef ph\u00e1p&quot;,&quot;avatar_name&quot;:&quot;nguphapN4.png&quot;,&quot;SEOurl&quot;:&quot;N4&quot;,&quot;author_id&quot;:1},{&quot;id&quot;:130,&quot;name&quot;:&quot;\H\u1ed9i tho\u1ea1i&quot;,&quot;avatar_name&quot;:&quot;hoithoaiN4.png&quot;,&quot;SEOurl&quot;:&quot;N4&quot;,&quot;author_id&quot;:10},{&quot;id&quot;:2447,&quot;name&quot;:&quot;Ch\u1eef h\u00e1n&quot;,&quot;avatar_name&quot;:&quot;hantuN4.png&quot;,&quot;SEOurl&quot;:&quot;N4&quot;,&quot;author_id&quot;:2}])"
                                    v-bind:style="{background: chosenPreview == 4 ? '#FFF' : 'transparent', color: chosenPreview == 4 ? '#41A336' : '#FFF'}">Khoá N4</li>
                                <li @click="choosePreview(3, [{&quot;id&quot;:350,&quot;name&quot;:&quot;Ng\u1eef ph\u00e1p&quot;,&quot;avatar_name&quot;:&quot;nguphapN3.png&quot;,&quot;SEOurl&quot;:&quot;N3&quot;,&quot;author_id&quot;:2},{&quot;id&quot;:4103,&quot;name&quot;:&quot;H\u1ed9i tho\u1ea1i&quot;,&quot;avatar_name&quot;:&quot;hoithoaiN3.png&quot;,&quot;SEOurl&quot;:&quot;N3&quot;,&quot;author_id&quot;:1},{&quot;id&quot;:4243,&quot;name&quot;:&quot;Ch\u1eef h\u00e1n&quot;,&quot;avatar_name&quot;:&quot;hantuN3.png&quot;,&quot;SEOurl&quot;:&quot;N3&quot;,&quot;author_id&quot;:2}])"
                                    v-bind:style="{background: chosenPreview == 3 ? '#FFF' : 'transparent', color: chosenPreview == 3 ? '#41A336' : '#FFF'}">Khoá N3</li>
                                <li @click="choosePreview(2, [{&quot;id&quot;:1043,&quot;name&quot;:&quot;Ng\u1eef ph\u00e1p&quot;,&quot;avatar_name&quot;:&quot;nguphapN2.png&quot;,&quot;SEOurl&quot;:&quot;N2&quot;,&quot;author_id&quot;:1},{&quot;id&quot;:4448,&quot;name&quot;:&quot;H\u1ed9i tho\u1ea1i&quot;,&quot;avatar_name&quot;:&quot;hoithoaiN2.png&quot;,&quot;SEOurl&quot;:&quot;N2&quot;,&quot;author_id&quot;:1},{&quot;id&quot;:4569,&quot;name&quot;:&quot;Ch\u1eef h\u00e1n&quot;,&quot;avatar_name&quot;:&quot;hantuN2.png&quot;,&quot;SEOurl&quot;:&quot;N2&quot;,&quot;author_id&quot;:1}])"
                                    v-bind:style="{background: chosenPreview == 2 ? '#FFF' : 'transparent', color: chosenPreview == 2 ? '#41A336' : '#FFF'}">Khoá N2</li>
                                <li @click="choosePreview(1, [{&quot;id&quot;:2002,&quot;name&quot;:&quot;Ng\u1eef ph\u00e1p&quot;,&quot;avatar_name&quot;:&quot;nguphapN1.png&quot;,&quot;SEOurl&quot;:&quot;N1&quot;,&quot;author_id&quot;:4},{&quot;id&quot;:2056,&quot;name&quot;:&quot;H\u1ed9i tho\u1ea1i&quot;,&quot;avatar_name&quot;:&quot;hoithoaiN1.png&quot;,&quot;SEOurl&quot;:&quot;N1&quot;,&quot;author_id&quot;:11},{&quot;id&quot;:2074,&quot;name&quot;:&quot;Ch\u1eef h\u00e1n&quot;,&quot;avatar_name&quot;:&quot;hantuN1.png&quot;,&quot;SEOurl&quot;:&quot;N1&quot;,&quot;author_id&quot;:2}])"
                                    v-bind:style="{background: chosenPreview == 1 ? '#FFF' : 'transparent', color: chosenPreview == 1 ? '#41A336' : '#FFF'}">Khoá N1</li>

                            </ul>
                        </div>
                        <div class="home-screen__main--preview-content">
                            <div v-for="item in previews" class="home-screen__main--preview-content-item">
                                <div class="preview-image">
                                    <img style="height: 14vw" class="lazyload course-thumbnail" :src="'../public/images/Khoahoc/' + item.avatar_name" />
                                </div>
                                <div class="preview-button">
                                    <a href="/login">
                                        <i class="fas fa-play"></i>
                                    </a>
                                </div>
                                <div class="preview-name"><span v-cloak>{{item.name}}</span></div>
                            </div>
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <a href="/login" class="d-flex flex-column justify-content-center align-items-center">
                                    <span class="d-flex justify-content-center align-items-center" style="cursor: pointer; font-size: 2vw; width: 2vw; height: 2vw; background: #FFF; color: #141414; border-radius: 50%;">
                                <i class="fas fa-angle-right"></i>
                            </span>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>











                <div class="metro-container">

                    <div class="home-screen__top">
                        <div id="home-slick-slider" class="home-screen__slider">
                            <div class="home-screen__slider--item slick-slide">
                                <a class="home-screen__slider--inner" id="tu-van-jav1">
                                    <div class="img">
                                        <img class="lazyload" src="../public/images/trangchu/hoctap.png" alt="N1">
                                    </div>
                                </a>
                            </div>
                            <div class="home-screen__slider--item slick-slide">
                                <a class="home-screen__slider--inner" id="tu-van-jav2">
                                    <div class="img">
                                        <img class="lazyload" src="../public/images/trangchu/PhuLe.png" alt="N2">
                                    </div>
                                </a>
                            </div>
                            <div class="home-screen__slider--item slick-slide">
                                <a class="home-screen__slider--inner" id="tu-van-jav">
                                    <div class="img">
                                        <img class="lazyload" src="../public/images/trangchu/tuvan.png" alt="N3">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="home-screen__slider--nav">
                            <div id="prv_sld" class="home-screen__slider--nav-btn prv">
                                <div class="home-screen__slider--nav-ico">
                                    <i class="fas fa-angle-left fa-2x" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div id="nxt_sld" class="home-screen__slider--nav-btn nxt">
                                <div class="home-screen__slider--nav-ico">
                                    <i class="fas fa-angle-right fa-2x" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>




                <div class="home-screen__main--badge">
                    <div class="home-screen__main--badge-center">
                        <span><span class="news">Bảng tin nước Nhật và kì thi JLPT</span></span>
                        <span>の掲示板</span>
                        <span class="leaf"><img src=""/></span>
                    </div>
                </div>




                <div class="home-screen__blog">
                    <div class="home-screen__blog--feature">
                        <div class="home-screen__blog--feature-title">Bài viết nổi bật</div>
                        <div class="home-screen__blog--feature-post">
                            <div class="feature-post-image">
                                <img src="../public/images/home/host.png" />
                            </div>
                            <div class="feature-post-content">
                                <a class="feature-post-title" target="_blank" href="https://www.facebook.com/Nh%E1%BA%ADt-Ng%E1%BB%AF-ikigai-103271318326995/?modal=admin_todo_tour&notif_id=1607673863391495&notif_t=page_invite&ref=notif">
                                    <span>Lộ trình học tiếng Nhật cho người mới bắt đầu</span>
                                </a>
                                <span class="feature-post-intro">Lộ trình học tiếng Nhật giúp bạn nhanh chóng tiếp cận và nắm bắt được vốn tiếng Nhật trong thời gian sớm nhất.</span>
                            </div>
                        </div>
                    </div>
                    <div id="home-screen-blog" class="home-screen__blog--categories">
                        <div class="home-screen__blog--categories-title">Bài viết theo danh mục</div>
                        <div class="home-screen__blog--categories-menu">
                            <span class="menu-item" @click="currentCategory = 7" v-bind:class="{'active': currentCategory == 7}">Học tiếng Nhật</span>
                            <span class="menu-item" @click="currentCategory = 1" v-bind:class="{'active': currentCategory == 1}">Kỳ thi JLPT</span>
                            <a href="https://www.facebook.com/Nh%E1%BA%ADt-Ng%E1%BB%AF-ikigai-103271318326995/?modal=admin_todo_tour&notif_id=1607673863391495&notif_t=page_invite&ref=notif" target="_blank" class="d-flex justify-content-center align-items-center see-more-button"
                                title="Xem thêm">
                                <i class="fas fa-angle-right"></i></a>
                        </div>
                        <div class="home-screen__blog--categories-posts">
                            <div v-for="post in newsList" class="post">
                                <div class="post-title" v-cloak>
                                    <a target="_blank" :href="post.url" class="featured-title">{{post.title}}</a>
                                </div>
                                <div class="post-intro" v-cloak>
                                    {{post.intro | truncate(160, ' ', ' ...')}}
                                    <a target="_blank" :href="post.url" class="featured-title"> Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <%- include('../partials/blog'); %>

                    <div class="home-screen__contact--form" id="tu-van">
                        <div class="home-screen__contact--form-inner">
                            <div class="contact-form">
                                <div class="contact-form-tent">
                                    <div class="contact-form-tent-and">HÃY CÙNG </div>
                                    <div class="contact-form-tent-and-nihon">CHINH PHỤC TIẾNG NHẬT</div>
                                    <div class="logo" align="center">
                                        <img src="" />
                                    </div>
                                </div>
                                <form  action="https://formspree.io/f/mgepngjv"
                                method="POST">
                                    <div>
                                        <div class="form-group">
                                            <span class="input input--kohana">
                                <input class="input__field input__field--kohana" name="full_name" id="full_name" type="text" id="input-29" required/>
                                <label class="input__label input__label--kohana" for="input-29">
                                    <i class="far fa-user icon icon--kohana"></i>
                                    <span class="input__label-content input__label-content--kohana">Họ và tên <sup >*</sup></span>
                                            </label>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <span class="input input--kohana">
                                <input class="input__field input__field--kohana" name="email" id="user_email" type="text" id="input-29" required/>
                                <label class="input__label input__label--kohana" for="input-29">
                                    <i class="fas fa-envelope icon icon--kohana"></i>
                                    <span class="input__label-content input__label-content--kohana">Email <sup >*</sup></span>
                                            </label>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <span class="input input--kohana">
                                <input class="input__field input__field--kohana" name="phone_number" id="phone_number" type="tel" id="input-29" required/>
                                <label class="input__label input__label--kohana" for="input-29">
                                    <i class="fas fa-phone-alt icon icon--kohana"></i>
                                    <span class="input__label-content input__label-content--kohana">Số điện thoại <sup >*</sup></span>
                                            </label>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <span class="input input--kohana">
                                <select class="form-control" id="course_name" name="course">
                                    <option disabled selected value="">Chọn khóa học </option>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
                                    <option value="Offline">Khóa học Offline</option>
                                    <option value="N1">Khóa học N1</option>
                                    <option value="N2">Khóa học N2</option>
                                    <option value="N3">Khóa học N3</option>
                                    <option value="N4">Khóa học N4</option>
                                    <option value="N5">Khóa học N5</option>
                                    <option value="Kaiwa">Khóa học Kaiwa </option>
                                   
                                </select>
                            </span>
                                        </div>
                                        <div class="form-group">
                                            <span class="input input--kohana home-screen__contact--form-inner-submit">
                                <button type="submit" style="padding: 10px; text-align: center;width: 100%; color: black;">ĐĂNG KÝ NHẬN TƯ VẤN</button>
                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>

        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <div class="fixed-panel">
        <div class="go-top"><img src="../public/images/icon/go_top.png" alt="" style="height: 45px; width: 45px;"></div>
        <a href="/buy_login">
            <div class="muahang-btn">
                <i class="fas fa-cart-plus"></i>
                <p>MUA HÀNG</p>
            </div>
        </a>


        <a href="https://www.facebook.com/messages/t/100059338123777" target="_blank">
            <div class="call-btn">
                <i class="fab fa-facebook-messenger"></i>
                <p>Chat</p>
            </div>
        </a>
    </div>
    <script>
        var previewComponent = new Vue({
            el: '#home-screen-main-preview',
            data: function() {
                return {
                    url: window.location.origin,
                    chosenPreview: 5,
                    previews: [],
                    link: '',
                }
            },
            methods: {
                choosePreview: function(choice, previews) {
                    var vm = this;
                    vm.chosenPreview = choice;
                    vm.previews = previews;
                }
            },
            mounted: function() {
                var vm = this;
                vm.choosePreview(5, [{
                    "id": 2,
                    "name": "Ng\u1eef ph\u00e1p",
                    "avatar_name": "hoithoaiN5.png",
                    "SEOurl": "N5",
                    "author_id": 1
                }, {
                    "id": 703,
                    "name": "H\u1ed9i tho\u1ea1i",
                    "avatar_name": "hoithoaiN5.png",
                    "SEOurl": "N5",
                    "author_id": 11
                }, {
                    "id": 2427,
                    "name": "Ch\u1eef h\u00e1n",
                    "avatar_name": "hantuN5.png",
                    "SEOurl": "N5",
                    "author_id": 2
                }]);
            }
        });
    </script>
    <script type="text/javascript">
        var newsComponent = new Vue({
            el: '#home-screen-blog',
            data: function() {
                return {
                    currentCategory: 1,
                    newsList: []
                }
            },
            watch: {
                currentCategory: function(val) {
                    var vm = this;
                    switch (val) {
                        case 7:
                            vm.newsList = [{
                                "id": 1,
                                "sort_order": 99,
                                "title": "Các lí do nên học tiếng nhật",
                                "category_id": 7,
                                "series_id": 0,
                                "intro": "Ngày nay, việc học ngôn ngữ mở ra một chân trời mới cho các bạn trẻ với cơ hội việc làm rộng mở. Tuy nhiên với một thị trường lao động cạnh tranh khốc liêt như hiện nay, việc chỉ biết tiếng Anh thôi chưa đủ.",
                                "url": "https://duhocnhatban-kei.vn/9-ly-do-nen-hoc-tieng-nhat",
                                "public": 1,
                                "updated_at": "2020-11-27 10:21:10",
                                "created_at": "2019-09-30 10:23:20",
                                "author_name": "Ikaga"
                            }, {
                                "id": 27,
                                "sort_order": 98,
                                "title": "Nh\u1eefng l\u1ed7i sai trong ti\u1ebfng Nh\u1eadt c\u01a1 b\u1ea3n",
                                "category_id": 7,
                                "series_id": 0,
                                "intro": "Trên thực tế hiện nay có nhiều người mặc dù đã học tiếng Nhật cơ bản rất lâu tuy nhiên vẫn chưa thể giao tiếp thành thạo. Nguyên nhân là do các bạn đã mắc phải một số sai lầm trong suốt quá trình học. Nếu không phát hiện ra sai lầm ngay từ đầu và tìm cách khắc phục sẽ dẫn tới việc học tiếng Nhật lâu mà không mang lại hiệu quả.",
                                "url": "https://trungtamnhatngu.edu.vn/blog/nhung-loi-sai-khi-hoc-tieng-nhat-co-ban-1223/",
                                "updated_at": "2020-11-27 01:24:33",
                                "created_at": "2017-06-10 00:00:00",
                                "author_name": "Ikaga"
                            }, {
                                "id": 253,
                                "sort_order": 0,
                                "title": "6 cách học Kanji hiệu quả cho người mới bắt đầu",
                                "category_id": 7,
                                "series_id": 0,
                                "intro": "Đối với nhiều người mới bắt đầu học tiếng Nhật, Kanji là phần khó học và khó nhớ nhất. Nếu bạn cũng vậy, đang băn khoăn không biết học Kanji sao cho nhớ thật nhanh và nhớ thật lâu, thì bài viết chia sẻ 6 cách học Kanji dưới đây chính là dành cho bạn. Akira sẽ nêu các cách học hữu ích cũng như ưu và nhược điểm để bạn chọn chọn phương pháp phù hợp nhất, từ đó vượt qua nỗi sợ chữ Hán.",
                                "url": "https://akira.edu.vn/cach-hoc-kanji-hieu-qua-cho-nguoi-moi-bat-dau/",
                                "updated_at": "2020-11-27 11:21:47",
                                "created_at": "2019-10-14 08:06:41",
                                "author_name": "Ikaga"
                            }]
                            break;
                        case 1:
                            vm.newsList = [{
                                "id": 349,
                                "sort_order": 0,
                                "title": "Tất tần tật những điều bạn cần biết về kỳ thi năng lực tiếng Nhật JLPT",
                                "category_id": 1,
                                "series_id": 0,
                                "intro": "Có thể bạn đã biết, kỳ thi năng lực tiếng Nhật JLPT là kỳ kiểm tra trình độ tiếng Nhật cho người nước ngoài có nhiều thí sinh tham gia nhất ở Việt Nam. Đây không chỉ là cơ hội để bạn tìm kiếm một tấm bằng cho công việc tương lai, mà còn là cách giúp để bạn thấy được hiệu quả học tiếng Nhật của mình đến đâu. Hãy cùng Akira tìm hiểu những điểm cơ bản cần biết và các mẹo làm bài thi JLPT hiệu quả nhé!",
                                "url": "https://akira.edu.vn/cac-ki-thi-nang-luc-tieng-nhat-jlpt/",
                                "updated_at": "2020-11-26 20:01:01",
                                "created_at": "2020-07-22 15:07:57",
                                "author_name": ""
                            }, {
                                "id": 255,
                                "sort_order": 0,
                                "title": "\u0110\u00e1p \u00e1n k\u1ef3 thi JLPT 12\/2019 m\u1edbi nh\u1ea5t",
                                "category_id": 1,
                                "series_id": 0,
                                "intro": "\u0110\u00e2y l\u00e0 \u0111\u00e1p \u00e1n m\u1edbi nh\u1ea5t v\u00e0 ch\u00ednh x\u00e1c nh\u1ea5t nh\u00e9.",
                                "content": "<h1>\r\n\t<span style=\"color:#ff0000;\"><strong>\u0110ang c\u1eadp nh\u1eadt....<\/strong><\/span><\/h1>\r\n<span style=\"color:#000000;\"><span style=\"caret-color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">1.2 &nbsp;\u62ab\u9732\u3000\u3072\u308d\u3046<\/span><\/span>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t<span style=\"color:#000000;\">2.1 \u7815\u3051\u3066\u3000\u304f\u3060\u3051\u3066<\/span><\/div>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t<span style=\"color:#000000;\">3.4 \u57f7\u7740\u3000\u3057\u3085\u3046\u3061\u3083\u304f<\/span><\/div>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t<span style=\"color:#000000;\">4.1 \u50b5\u52d9\u3000\u3055\u3044\u3080<\/span><\/div>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t<span style=\"color:#000000;\">5.2 \u8ca2\u732e\u3000\u3053\u3046\u3051\u3093<\/span><\/div>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t<span style=\"color:#000000;\">6.3 \u6f54\u3044\u3000\u3044\u3055\u304e\u3088\u3044<\/span><\/div>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t<span style=\"color:#000000;\">7.4&nbsp; \u8868\u660e\u3059\u308b<\/span><\/div>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t<span style=\"color:#000000;\">8.2\u3000\u7cbe\u529b\u7684<\/span><\/div>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t<span style=\"color:#000000;\">9.3\u3000\u6c17\u304c\u304b\u308a<\/span><\/div>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t<span style=\"color:#000000;\">10.1\u3000\u63a8\u79fb<\/span><\/div>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t<span style=\"color:#000000;\">11.4\u3000\u5371\u3076\u307e\u308c\u3066<\/span><\/div>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t<span style=\"color:#000000;\">12.3 \u305a\u3063\u3057\u308a\u3068<\/span><br \/>\r\n\t<span style=\"color: rgb(0, 0, 0);\">13.1\u3000\u6b74\u7136<\/span><\/div>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t<span style=\"color:#000000;\">14.1\u3000\u73cd\u3057\u3044<\/span><\/div>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t<span style=\"color:#000000;\">15.4\u3000\u71b1\u4e2d<\/span><\/div>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t<span style=\"color:#000000;\">16.2\u3000\u3060\u3089\u3057\u306a\u3044<\/span><\/div>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t<span style=\"color:#000000;\">17.3\u3000\u8a73\u7d30<\/span><\/div>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t<span style=\"color:#000000;\">18.4\u3000\u7e4b\u304c\u308a<\/span><\/div>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t<span style=\"color:#000000;\">19.3\u3000\u691c\u8a0e\u3000<\/span><\/div>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t<span style=\"color:#000000;\">20.2\u3000\u8981\u671b\u3000\u3000\u5e02\u6c11\u306e\u8981\u671b\u3067<\/span><\/div>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t<span style=\"color:#000000;\">21.4\u3000\u8986\u3059\u3000\u3000\u3053\u308c\u307e\u3067\u306e\u5b9a\u8aac\u3092<\/span><\/div>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t<span style=\"color:#000000;\">22.1\u3000\u7e41\u76db\u3000\u99c5\u524d\u306e\u30b9\u30fc\u30d1\u30fc\u306f<\/span><\/div>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t<span style=\"color:#000000;\">23.3\u3000\u304f\u3058\u3051\u308b<\/span><\/div>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t<span style=\"color:#000000;\">24.4\u3000\u3072\u305f\u3080\u304d<\/span><\/div>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t<span style=\"color:#000000;\">25.2\u3000\u4e92\u89d2\u3000\u3054\u304b\u304f<\/span><\/div>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t&nbsp;<\/div>\r\n<div style=\"caret-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-family: HelveticaNeue; text-size-adjust: auto;\">\r\n\t<span style=\"color:#000000;\">Ng\u1eef ph&aacute;p<\/span><br \/>\r\n\t26<br \/>\r\n\t<span style=\"color:#000000;\">26.1&nbsp; \u3092<br \/>\r\n\t27.1\u3000\u305d\u3046<br \/>\r\n\t28.2\u3000\u3092\u63a7\u3048\u3066<br \/>\r\n\t29.3\u3000\u3067\u3082\u3042\u308b\u307e\u3044<br \/>\r\n\t30.3\u3000\u5b58\u3058\u307e\u3059<br \/>\r\n\t31.2\u3000\u51fa\u3088\u3046\u3068\u3057\u305f\u3068\u305f\u3093<br \/>\r\n\t32.3\u3000\u8a00\u3046\u3079\u304d\u3068\u3053\u308d\u3092<\/span><br \/>\r\n\t<div style=\"text-size-adjust: auto;\">\r\n\t\t<span style=\"color:#000000;\">33.2\u3000\u6587\u53e5\u306e\u3064\u3051\u3088\u3046\u304c\u306a\u3044\u3060\u3051\u306b<\/span><\/div>\r\n\t<div style=\"text-size-adjust: auto;\">\r\n\t\t<span style=\"color:#000000;\">34.4\u3000\u304f\u308b\u3093\u3058\u3083\u306a\u304b\u3063\u305f<\/span><\/div>\r\n\t<div style=\"text-size-adjust: auto;\">\r\n\t\t<span style=\"color:#000000;\">35.4\u3000\u306a\u3089\u306a\u3044\u3068\u3082\u9650\u3089\u306a\u3044<\/span><\/div>\r\n\t<div style=\"text-size-adjust: auto;\">\r\n\t\t<span style=\"color:#000000;\">36.3 (3124\uff09\u3000<\/span><span style=\"color:#ff0000;\">\u8aad\u3093\u3060\u304c\u3042\u307e\u308a\u7406\u89e3\u3067\u304d\u305f<\/span><span style=\"color:#000000;\">\u3000\u3000\u3068\u306f\u8a00\u3048\u306a\u3044<\/span><\/div>\r\n\t<div style=\"text-size-adjust: auto;\">\r\n\t\t<span style=\"color:#000000;\">37.\uff14(1\uff14\uff12\uff13)\u3000\u98df\u4e8b\u3092\u3059\u308b\u3000\u3000<\/span><span style=\"color:#ff0000;\">\u306e\u3082\u6642\u9593\u304c\u60dc\u3057\u3044\u304f\u3089\u3044\u5fd9\u3057\u3044<\/span><\/div>\r\n\t<div style=\"text-size-adjust: auto;\">\r\n\t\t<span style=\"color:#000000;\">38.2&nbsp;<\/span><\/div>\r\n<\/div>\r\n<br \/>",
                                "image_name": "1575193945_3147975_c3e423.png",
                                "url": "dap-an-ky-thi-jlpt-122019-moi-nhat",
                                "status": 0,
                                "feature": 0,
                                "count_view": 37314,
                                "public": 1,
                                "show_image": 1,
                                "admin_id": null,
                                "schedule_at": null,
                                "push_at": null,
                                "schedule_push_at": null,
                                "updated_at": "2020-11-27 10:28:28",
                                "created_at": "2019-12-01 16:37:06",
                                "author_name": "D\u0169ng Mori"
                            }, {
                                "id": 252,
                                "sort_order": 0,
                                "title": "Danh s\u00e1ch h\u1ecdc vi\u00ean c\u1ee7a D\u0169ng Mori \u0111\u1ed7 \u0111i\u1ec3m cao JLPT  th\u00e1ng 7\/2019",
                                "category_id": 1,
                                "series_id": 0,
                                "intro": "\u0110\u1ec3 \u0111\u1ed9ng vi\u00ean c\u00e1c b\u1ea1n h\u1ecdc vi\u00ean Online t\u1ea1i Dungmori.com thi \u0111\u1ed7 JLPT \u0111i\u1ec3m cao ch\u00fang m\u00ecnh lu\u00f4n lu\u00f4n c\u00f3 nh\u1eefng ph\u1ea7n th\u01b0\u1edfng x\u1ee9ng \u0111\u00e1ng cho c\u00e1c b\u1ea1n \u1ea5y v\u1edbi c\u00e1c m\u1ee9c th\u01b0\u1edfng nh\u01b0 sau:",
                                "content": "<div style=\"text-align: justify;\">\r\n\t<span style=\"font-size:22px;\">\u0110\u1ec3 \u0111\u1ed9ng vi&ecirc;n c&aacute;c b\u1ea1n h\u1ecdc vi&ecirc;n Online t\u1ea1i Dungmori.com&nbsp;<strong>\u0111\u1ed7&nbsp;\u0111i\u1ec3m cao&nbsp;JLPT <\/strong><\/span><span style=\"font-size: 22px;\">ch&uacute;ng m&igrave;nh lu&ocirc;n lu&ocirc;n c&oacute; nh\u1eefng ph\u1ea7n th\u01b0\u1edfng x\u1ee9ng \u0111&aacute;ng cho c&aacute;c b\u1ea1n \u1ea5y v\u1edbi c&aacute;c m\u1ee9c th\u01b0\u1edfng nh\u01b0 sau:<\/span><\/div>\r\n<h3 style=\"text-align: justify;\">\r\n\t<span style=\"font-size:18px;\">\u0110\u1ed1i v\u1edbi N3-N2-N1:<\/span><\/h3>\r\n<div style=\"text-align: justify;\">\r\n\t<br \/>\r\n\t<span style=\"font-size:16px;\">T\u1eeb 130\u0111 tr\u1edf l&ecirc;n s\u1ebd \u0111\u01b0\u1ee3c th\u01b0\u1edfng 200.000 VN\u0110<br \/>\r\n\tT\u1eeb 140\u0111 tr\u1edf l&ecirc;n s\u1ebd \u0111\u01b0\u1ee3c th\u01b0\u1edfng 400.000 VN\u0110<br \/>\r\n\tT\u1eeb 150\u0111 tr\u1edf l&ecirc;n s\u1ebd \u0111\u01b0\u1ee3c th\u01b0\u1edfng 600.000 VN\u0110<br \/>\r\n\tT\u1eeb 160\u0111 tr\u1edf l&ecirc;n s\u1ebd \u0111\u01b0\u1ee3c th\u01b0\u1edfng 800.000 VN\u0110<br \/>\r\n\tT\u1eeb 170\u0111 tr\u1edf l&ecirc;n s\u1ebd \u0111\u01b0\u1ee3c th\u01b0\u1edfng 1.000.000 VN\u0110<br \/>\r\n\t\u0110\u1ea1t 180\u0111 s\u1ebd \u0111\u01b0\u1ee3c th\u01b0\u1edfng 2.000.000 VN\u0110<\/span><\/div>\r\n<h3 style=\"text-align: justify;\">\r\n\t<span style=\"font-size:18px;\">\u0110\u1ed1i v\u1edbi N4:<\/span><\/h3>\r\n<div style=\"text-align: justify;\">\r\n\t<span style=\"font-size:16px;\">V\u1edbi c\u1ea5p \u0111\u1ed9 N4 \u0111\u1ea1t t\u1eeb 150\u0111 tr\u1edf l&ecirc;n s\u1ebd \u0111\u01b0\u1ee3c th\u01b0\u1edfng 600.000 VN\u0110<br \/>\r\n\t<br \/>\r\n\tD\u01b0\u1edbi \u0111&acirc;y l&agrave; m\u1ed9t s\u1ed1 &iacute;t k\u1ebft qu\u1ea3 thi c\u1ee7a h\u1ecdc vi&ecirc;n Dungmori online \u0111\u1ed7 v&agrave; \u0111\u1ea1t \u0111i\u1ec3m cao trong k&igrave; thi th&aacute;ng 7 n\u0103m 2019 v\u1eeba r\u1ed3i m&igrave;nh xin \u0111\u01b0\u1ee3c tr&iacute;ch ra \u0111\u1ec3 khen ng\u1ee3i s\u1ef1 c\u1ed1 g\u1eafng c\u1ee7a c&aacute;c b\u1ea1n.<br \/>\r\n\t<br \/>\r\n\t<img alt=\"\" src=\"\/cdn\/ckeditor\/files\/N2-dd.png\" style=\"width: 628px; height: 761px;\" \/><br \/>\r\n\t<img alt=\"\" src=\"\/cdn\/ckeditor\/files\/N3-1-3.png\" style=\"width: 626px; height: 832px;\" \/><br \/>\r\n\t<img alt=\"\" src=\"\/cdn\/ckeditor\/files\/N3-4-5.png\" style=\"width: 629px; height: 534px;\" \/><img alt=\"\" src=\"\/cdn\/ckeditor\/files\/N3-5-6%2Bn4.png\" style=\"width: 628px; height: 765px;\" \/><\/span><br \/>\r\n\t<br \/>\r\n\tM&igrave;nh hi v\u1ecdng th&aacute;ng 12 t\u1edbi c&aacute;c b\u1ea1n h\u1ecdc vi&ecirc;n Online c\u1ee7a Dungmori.com s\u1ebd \u0111\u1ea1t \u0111\u01b0\u1ee3c k\u1ebft qu\u1ea3 t\u1ed1t nh\u1ea5t \u0111\u1ec3 dinh v\u1ec1 nh\u1eefng ph\u1ea7n th\u01b0\u1edfng x\u1ee9ng \u0111&aacute;ng v\u1edbi s\u1ef1 n\u1ed7 l\u1ef1c kh&ocirc;ng ng\u1eebng c\u1ee7a c&aacute;c b\u1ea1n nh&eacute;. Ch&uacute;c c&aacute;c b\u1ea1n h\u1ecdc v&agrave; &ocirc;n t\u1eadp \u0111\u1ec3 chu\u1ea9n b\u1ecb thi th\u1eadt t\u1ed1t nh&eacute;!<br \/>\r\n\t<br \/>\r\n\t&nbsp;<\/div>",
                                "image_name": "1570611797_0_16a08b.png",
                                "url": "danh-sach-hoc-vien-cua-dung-mori-do-diem-cao-jlpt-thang-72019",
                                "status": 0,
                                "feature": 0,
                                "count_view": 5416,
                                "public": 1,
                                "show_image": 1,
                                "admin_id": null,
                                "schedule_at": null,
                                "push_at": null,
                                "schedule_push_at": null,
                                "updated_at": "2020-11-26 20:03:13",
                                "created_at": "2019-10-09 16:03:18",
                                "author_name": "D\u0169ng Mori"
                            }]
                            break;
                        default:
                            vm.newsList = [{
                                "id": 1,
                                "sort_order": 99,
                                "title": "Các lí do nên học tiếng nhật",
                                "category_id": 7,
                                "series_id": 0,
                                "intro": "Ngày nay, việc học ngôn ngữ mở ra một chân trời mới cho các bạn trẻ với cơ hội việc làm rộng mở. Tuy nhiên với một thị trường lao động cạnh tranh khốc liêt như hiện nay, việc chỉ biết tiếng Anh thôi chưa đủ.",
                                "url": "https://duhocnhatban-kei.vn/9-ly-do-nen-hoc-tieng-nhat",
                                "public": 1,
                                "updated_at": "2020-11-27 10:21:10",
                                "created_at": "2019-09-30 10:23:20",
                                "author_name": "Ikaga"
                            }, {
                                "id": 27,
                                "sort_order": 98,
                                "title": "Nh\u1eefng l\u1ed7i sai trong ti\u1ebfng Nh\u1eadt c\u01a1 b\u1ea3n",
                                "category_id": 7,
                                "series_id": 0,
                                "intro": "Trên thực tế hiện nay có nhiều người mặc dù đã học tiếng Nhật cơ bản rất lâu tuy nhiên vẫn chưa thể giao tiếp thành thạo. Nguyên nhân là do các bạn đã mắc phải một số sai lầm trong suốt quá trình học. Nếu không phát hiện ra sai lầm ngay từ đầu và tìm cách khắc phục sẽ dẫn tới việc học tiếng Nhật lâu mà không mang lại hiệu quả.",
                                "url": "https://trungtamnhatngu.edu.vn/blog/nhung-loi-sai-khi-hoc-tieng-nhat-co-ban-1223/",
                                "updated_at": "2020-11-27 01:24:33",
                                "created_at": "2017-06-10 00:00:00",
                                "author_name": "Ikaga"
                            }, {
                                "id": 253,
                                "sort_order": 0,
                                "title": "6 cách học Kanji hiệu quả cho người mới bắt đầu",
                                "category_id": 7,
                                "series_id": 0,
                                "intro": "Đối với nhiều người mới bắt đầu học tiếng Nhật, Kanji là phần khó học và khó nhớ nhất. Nếu bạn cũng vậy, đang băn khoăn không biết học Kanji sao cho nhớ thật nhanh và nhớ thật lâu, thì bài viết chia sẻ 6 cách học Kanji dưới đây chính là dành cho bạn. Akira sẽ nêu các cách học hữu ích cũng như ưu và nhược điểm để bạn chọn chọn phương pháp phù hợp nhất, từ đó vượt qua nỗi sợ chữ Hán.",
                                "url": "https://akira.edu.vn/cach-hoc-kanji-hieu-qua-cho-nguoi-moi-bat-dau/",
                                "updated_at": "2020-11-27 11:21:47",
                                "created_at": "2019-10-14 08:06:41",
                                "author_name": "Ikaga"
                            }]
                    }
                }
            },
            methods: {

            },
            mounted: function() {
                var vm = this;
                vm.currentCategory = 7;
            }
        })
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#home-slick-slider').slick({
                centerMode: true,
                centerPadding: "60px",
                slidesToShow: 1,
                variableWidth: true,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 1000,
                speed: 800,
                waitForAnimate: true,
                lazyLoad: "ondemand",
                responsive: [{
                    breakpoint: 1160,
                    settings: {
                        variableWidth: false
                    }
                }, {
                    breakpoint: 768,
                    settings: {
                        variableWidth: false,
                        centerPadding: "22.5px"
                    }
                }]
            })

            $("#nxt_sld").on("click", function(e) {
                e.preventDefault();
                $("#home-slick-slider").slick("slickNext")
            });
            $("#prv_sld").on("click", function(e) {
                e.preventDefault();
                $("#home-slick-slider").slick("slickPrev")
            });
        })
    </script>
    <script type="text/javascript">
        (function() {
            // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
            if (!String.prototype.trim) {
                (function() {
                    // Make sure we 
                    var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                    String.prototype.trim = function() {
                        return this.replace(rtrim, '');
                    };
                })();
            }

            [].slice.call(document.querySelectorAll('input.input__field')).forEach(function(inputEl) {
                // in case the input is already filled..
                if (inputEl.value.trim() !== '') {
                    classie.add(inputEl.parentNode, 'input--filled');
                }

                // events:
                inputEl.addEventListener('focus', onInputFocus);
                inputEl.addEventListener('blur', onInputBlur);
            });

            function onInputFocus(ev) {
                classie.add(ev.target.parentNode, 'input--filled');
            }

            function onInputBlur(ev) {
                if (ev.target.value.trim() === '') {
                    classie.remove(ev.target.parentNode, 'input--filled');
                }
            }
        })();
    </script>
</body>

</html>